.navbar{
    background-color: #002042;
}
.navbar-header a{
    margin-left:50%;
}
body{
    background-color: #002042;
    margin-bottom:100px;
}
.info{
    margin-top:10px; 
    float:left;
    color:white;
}
.btn-header{
    background-color:#346090;
    font-weight:bold;
}
.btn-header:hover{
    background-color:#2f4c6c;
}
.btn-ed, .btn-del{
    width:100px;
    font-weight:bold;
}
tr{
    color:white;
}
td{
    color:white;
}
.content-header{
    background-color: #0065d1;
}
.content-footer{
    height:50px;
    line-height:50px;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color: #0065d1;
}
img{
    height:50px;
    width:50px;
}